
.register{
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 2px;
    width: 320px;
}
.verificate{
    width: 320px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main{
    height:100%;
    width:100%;
    position:fixed;
    background: #d1d1d1;
    display:flex;
    align-items:center;/*垂直居中*/
    justify-content:center;
    user-select: none;
}
html,body{
    margin: 0;
}